body {
    font-family: sans-serif; background-color: black
}

#header {
    background-color: red
}

#left {
    text-align: left;
}

#jumbo {
    color:white;
}

a {
    text-decoration: none;
}

.jumbotron {
     background-image:url('school.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     width:80%;
     align-self: center;
     color:white;
     box-shadow: 10px 10px grey;"
}
/* .pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: blue }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }
.error          { background: #f0d6d6; padding: 0.5em; } */
