{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body><h1> Edit Equipment </h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{equipment.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{equipment.description}}'>
	<p>Type:<p>

	{% if item.course == 'Weapon' %}
		<dd><input type ='radio' name='course' value='Weapon'checked >Weapon</dd>
	{%else%}
	<dd><input type ='radio' name='course' value='Weapon' >Weapon</dd>
    {% endif %}

    {% if item.course == 'Armor' %}
       <dd><input type ='radio' name='course' value='Armor' checked>Armor</dd>

    {%else%}
		<dd><input type ='radio' name='course' value='Armor'>Armor</dd>
    {% endif %}



<input type='submit' value='Edit'>


<a href = '{{url_for('showEquipment')}}'> Cancel </a>


</form>
</body>
</html>
