<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ item.name }}</h1>

		{% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newEquipment', item_id = equipment.id )}}">Create New Equipment</a>
	</br></br>

	<h2>Weapons</h2>

		{% for i in items %}
		{% if i.type == 'Weapon' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<a href='{{url_for('editEquipment', item_id = item.id, equipment_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteEquipment', item_id = item.id, equipment_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}



		</br></br>

	<h2>Armor</h2>

		{% for i in items %}
		{% if i.type == 'Armor' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<a href='{{url_for('editEquipment', item_id = item.id, equipment_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteEquipment', item_id = item.id, equipment_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}



		</br></br>

		{% else %}
		<p> You currently have no equipment. <p>
		<a href = "{{url_for('newEquipment', item_id = item.id )}}">Create New Equipment</a>
			{% endif %}
</div>
	</body>

</html>
