<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	<link href="static/styles.css" rel="stylesheet" type="text/css" />
</head>
<div class="row top-menu" id="header">
	<div class="col-md-6">
		<a href="{{url_for('showSchools')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Items
		</a>
	</div>
	<div class="col-md-6 text-right" id="header">
					<p><a href="{{url_for('showLogin')}}">
						Login
					</p>

	</div>
</div>
</html>
