{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
​
<head>
<link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="1008474172856-v6cp51elq4o2liqf4mpkegno2s8ge6mq.apps.googleusercontent.com">
</head>

<body>
    <div class="container">
​       <h1>Sign with your Google Account</h1>

        <button class="g-signin2" id="signinButton">Sign in with
            Google</button>
        <script>
            function init() {
                console.log("init")
                gapi.load('auth2', function () {
                    console.log("loaded auth2")
                    auth2 = gapi.auth2.getAuthInstance({
                        client_id: '1008474172856-v6cp51elq4o2liqf4mpkegno2s8ge6mq.apps.googleusercontent.com',
                        scope: 'profile email openid'
                        });
                    $("#signinButton").click(function () {
                        console.log("clicked")
                        auth2.grantOfflineAccess().then(offlineAccess);
                    });
                });
            }
            function offlineAccess(resp) {
console.log(resp)
              var auth_code = resp.code;
              $.ajax({
                  type: "POST",
                  url: "http://18.223.189.177.xip.io:80/gconnect?state={{STATE}}",
                  processData: false,
                  contentType: 'application/octet-stream; charset=utf-8',
                  data: auth_code,
                  success: function (result) {
                      $('body').html(result);
                      setTimeout(function () {
                          window.location.href ='http://18.223.189.177.xip.io/school/';
                      }, 3000);
                  }
              });
}
        </script>
​</div>
</body>
​{% endblock %}
</html>
