<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Equipment</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Type:</p>
		<input type ='radio'  name='course' value ='Weapon'>Weapon</br>
		<input type ='radio'  name='course' value ='Armor'>Armor</br>
		<input type ='radio' name='course' value ='Accessory'>Accesory</br>
	</br>


<input type='submit' value='Create'>

</form>

</body>
</html>
