{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Spell</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<!-- <p>School:</p>
		<input type ='radio'  name='school' value ='Abjuration'>Abjuration</br>
		<input type ='radio'  name='school' value ='Conjuration'>Conjuration</br>
		<input type ='radio'  name='school' value ='Evocation'>Evocation</br> -->
	</br>


<input type='submit' value='Create'>

</form>

</body>
</html>
{% endblock %}
