{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container-fluid" align="center">




	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<body>

<h1>New Spell</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	</br>


<input type='submit' value='Create'>

</form>

</body>

{% endblock %}
