{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid" align="center">


<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="jumbotron text-center" align="center">
		 <h1>Schools of Magic</h1>
		 <p id="jumbo">Spells divided according to specialization!</p>
	</div>


	<div class="row padding-top padding-bottom">

	{% for school in schools %}
		<a href = "{{url_for('showSpell', school_id = school.name)}}">

		<div class="row-fluid" align="left">
			<h3>{{school.name}}</h3></a>
		</div>



</div>


{% endfor %}
{% endblock %}
