{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container-fluid" align="center">




	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>





<div class="row padding-top padding-bottom">


{% for spell in spells %}

    <a href = "{{url_for('specSpell', spell_id = spell.name, school_id = school_id)}}">

        <div class="row-fluid" align="left">
            <h3>{{ spell.name }}</h3></a>
        </div>
        <p id="left">{{ spell.description }} </p>
    <a href = "{{url_for('editSpell', spell_id = spell.name, school_id = school.name)}}">
            <h5>Edit</h5></a><p>/</p>
	<a href = "{{url_for('deleteSpell', spell_id = spell.name, school_id = school.name)}}">


        </div>
        </div>

{% endfor %}
{% endblock %}
