{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container-fluid" align="center">




	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>





<div class="row">


{% for spell in spells %}

    <a href = "{{url_for('specSpell', spell_id=spell.name, school_id=spell.school_id)}}">


            <h3>{{ spell.name }}</h3></a>

        <p id="left">{{ spell.description }} </p>
		"Add login to hide Edit/Delete if not logged in"
		<div align="left">
<a href = "{{url_for('editSpell', spell_id=spell.name, school_id=spell.school_id)}}">Edit </a>
/
<a href = "{{url_for('deleteSpell', spell_id=spell.name, school_id=spell.school_id)}}">Delete</a>

</div>


        </div>

{% endfor %}
{% endblock %}
