{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid" align="center">


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
  	{% if messages %}

    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
        {% endif %}
    	{% endwith %}
</div>

	<div class="jumbotron text-center" align="center">
		 <h1>Schools of Magic</h1>
		 <p id="jumbo">Spells divided according to specialization!</p>
   </div>

	<div class="row padding-top padding-bottom">

		{% for spell in spells %}
		<a href = "{{url_for('newSpell', school_id=spell.school_id, school=school)}}">Create a new spell!</a>
		<a href = "{{url_for('specSpell', spell_id=spell.name, school_id=spell.school_id)}}">
		<div class="row-fluid" align="left">
				<h3>{{ spell.name }}</h3></a>
		</div>
				<p id="left">{{ spell.description }} </p>
		{% else %}

	</div>

{% endfor %}
{% endblock %}
