{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ spells.name }}</h1>

		{% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newSpell', school_id = school.id )}}">Create New Spell</a>
	</br></br>

	<h2>Weapons</h2>

		{% for i in items %}
		{% if i.type == 'Weapon' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<a href='{{url_for('editSpell', school_id = item.id, spell_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteSpell', school_id = item.id, spell_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}



		</br></br>

	<h2>Armor</h2>

		{% for i in items %}
		{% if i.type == 'Armor' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<a href='{{url_for('editSpell', school_id = school.id, spell_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteSpell', school_id = school.id, spell_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}



		</br></br>

		{% else %}
		<p> You currently have no spell. <p>
		<a href = "{{url_for('newSpell', school_id = item.id )}}">Create New Spell</a>
			{% endif %}
</div>
	</body>

</html>

{% endblock %}
